@model MyModel_DBFirst.Models.tStudent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tStudent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.fStuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
