@* @model MyView.Models.NightMarket *@  
@model MyView.Models.VMNightMarket  

@{  
    ViewData["Title"] = "IndexList";  
}  

<h1>IndexList</h1>  
<div class="row">  
    <div class=col-lg-3>  
        <div class="list-group d-lg-block d-none">  
            @foreach (var item in Model.NightMarkets) 
            {  
                <a class="list-group-item list-group-item-action" asp-action="IndexList" asp-route-id="@item.Id">@item.Name</a>  
            }  
        </div>  

        <nav class="nav d-block d-lg-none border">  
            @foreach (var item in Model.NightMarkets) 
            {  
                <a class="nav-link" asp-action="IndexList" asp-route-id="@item.Id">@item.Name</a>  
            }  
        </nav>  

        <div class="col-lg-9">  
            <h4>NightMarket</h4>  
            <hr />  
            <div class="row">  
                <div class=col-md-6>  
                    <img src="/images/@(Model.NightMarket.Id).jpg" class="img-thumbnail" />  
                </div>  

                <div class="col-md-6">  
                    <h1 class="fw-bold">@Model.NightMarket.Name</h1>  
                    <h3 class="text-dark">@Model.NightMarket.Address</h3>  
                    <p class="">  
                        <a href="https://www.google.com.tw/maps/search/@(Model.NightMarket.Address)" target="_blank" class="btn btn-outline-danger btn-lg">地圖</a>  
                    </p>  
                </div>  
            </div>  
        </div>  
    </div>  
</div>  

<div>  
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |  
    <a asp-action="Index">Back to List</a>  
</div>
