@model IEnumerable<MyModel_DBFirst.Models.tStudent>

@{
    ViewData["Title"] = "學生資料列表";
}

@* 4.2.6 修改介面上的文字，拿掉Details的超鏈結
      ※可依自己的喜好修改View的顯示※ *@


<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">新增學生資料</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fStuId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptID)
            </th>
            <th>
                學生資料管理
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fStuId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptID)
                </td>
                <td>
                   <td class="d-flex">

                    <a asp-action="Edit" asp-route-id="@item.fStuId" class="btn btn-success btn-sm">編輯</a>

                    @* 4.5.2 將Index View的Delete改為Form，以Post方式送出 *@
                    <form asp-action="Delete">
                        <input type="hidden" value="@item.fStuId" name="id" />
                        <input type="submit" value="刪除" class="btn btn-outline-danger btn-sm" onclick="return confirm('確定要刪除此筆資料?')"/>
                    </form>

                    @* <a asp-action="Delete" asp-route-id="@item.fStuId" class="btn btn-outline-warning btn-sm" onclick="return confirm('確定要刪除此筆資料?')">刪除</a> *@
                    </td>
                </td>
            </tr>
        }
    </tbody>
</table>
