@model IEnumerable<MyModel_DBFirst.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>科系管理系統</h1>

<p>
    <a asp-action="Create">新增資料</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DeptID">編輯</a> |
                    <a asp-action="Details" asp-route-id="@item.DeptID">詳細資料</a> |
                    <a asp-action="Delete" asp-route-id="@item.DeptID">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
